<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel='stylesheet' href='Styles/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
  <script src="Scripts/papaparse.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
</head>

<body>
  <h1>Calc</h1>
  <!--
  <input id="csv" type="file">

  <output id="out">
      file contents will appear here
  </output> -->

  <div id="app">

    <input type="file" ref="myFile" @change="selectedFile"><br />
    <h1 v-if="calculating"> Calculating - {{message}} </h1>
    £{{purchaseValue.toFixed(2)}}, Realised Profit: {{totalRealisedPl.toFixed(2)}}

    <h2> Deposits </h2>
    <template v-for="dep in deposits">
      <div class="holding">
        {{dep.dateString}}: £{{dep.value}} U#{{dep.uid}}
      </div>
    </template>


    <h2> Withdrawals </h2>
    <template v-for="itm in withdrawals">
      <div class="holding">
        {{itm.dateString}}: £{{itm.value}}
      </div>
    </template>

    <h2> Dividends </h2>
    <template v-for="itm in dividends">
      <div class="holding">
        {{itm.dateString}}, {{itm.name}}({{itm.ticker}}) £{{itm.value}}
      </div>
    </template>


    <h2> Trades </h2>
    <template v-for="inst in holdings">
      <div class="holding">
        <div class="holding-title"><strong>{{inst.name}}</strong></div> ({{inst.ticker}}), Disposals:
        {{inst.disposalCount}}, P/L: {{inst.realisedPl}}
        <div class="disposal-container">
          <p>Trades:</p>
          <!-- Number of Trades: {{inst.trades.length}} -->
          <template v-for="t,key in inst.trades">
            <!-- {{JSON.stringify(t)}}€€ -->
            <div v-bind:class="getTradeClass(t.rawType)">
              <p>#{{t.uid}} {{new Date(t.timestamp).toString().slice(0,10)}}: {{t.rawType}} {{t.number}} {{t.number > 1?
                "Shares":"Share"}} @ £{{t.priceGBP.toFixed(2)}}. Total £{{t.total.toFixed(2)}}</p>
            </div>
          </template>
        </div>
        <div class="disposal-container">
          <p>Ledger:</p>
          Ledger Length: {{inst.ledger.length}}
          <template v-for="d in inst.ledger">
            <!-- {{JSON.stringify(d)}} -->
            <div v-bind:class="getTradeClass(d.change)">
              <p> #{{d.uid}}: {{new Date(d.timestamp).toString().slice(0,10)}}, Change: {{d.change.toFixed(2)}},
                {{d.price.toFixed(2)}}p,  G:£{{d.gain.toFixed(2)}} L:£{{d.loss.toFixed(2)}}    S104 Holdings:{{d.s104Total.toFixed(2)}}@£{{d.s104Price.toFixed(2)}}
              <p>{{d.comment}}</p>
              </p>
            </div>
          </template>
        </div>
        <div class="position-status-container"></div>
      </div>
    </template>




  </div>
  <p>The results from this website are assumed to be inaccurate.</p>
</body>

</html>
<script type='text/javascript' src="Scripts/script.js"></script>