<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel='stylesheet' href='Styles/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
  <script src="Scripts/papaparse.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
</head>

<body>
  <h1>Taxing 212</h1>
  <h5>A UK capital gains tax calculator for Trading 212</h5>
  <!--
  <input id="csv" type="file">

  <output id="out">
      file contents will appear here
  </output> -->

  <div id="app">


    <div v-if="!calculated">
      <p>1) Load your T212 trade history CSV files. For accurate results full history is required to calculate Section 104 Holdings prices</p>
      <div v-if="fileList.length > 0" class="">
        <p>Files Loaded:</p>
        <template v-for="i in fileList">
          <p>{{fileList[0]}}</p>
        </template>
        <p></p>
      </div>
      <input id="fileButton" style="display:none" type="file" ref="csvFile" @change="addFile"></input><br>
      <input type="button" value="Add CSV File" onclick="document.getElementById('fileButton').click();" />
      <input type="Button" name="" value="Clear Files" v-on:click="clearFiles()">

      <p>2) Select Tax Year to report on</p>
      <h4>Tax Year starting <input type="number" v-model="taxYear.target"></input> , {{fyText}} </h4>
      <p>3) Hit Calculate</p>
      <h1 v-if="calculating"> Calculating...</h1>
      <button v-on:click="calculate()">Calculate</button>
    </div>


    <div v-if="calculated">
      <h2>Calculations for {{fyText}}</h2>
      <button v-on:click="back()">Back</button>
      <button v-on:click="generateRoundtrips()">Download RoundTrip report for {{fyText}}</button>

      <h2> All Data Summary: </h2>
      <div class="holding">
        Disposal Count: {{disposalCount}}
      </div>
      <div class="holding">
        Total Realised Profit: £{{realisedProfit.toFixed(2)}}
      </div>
      <div class="holding">
        Total Realised Loss: {{realisedLoss.toFixed(2)}}
      </div>
      <div class="holding">
        Combined: {{(realisedProfit - realisedLoss).toFixed(2)}}
      </div>
      <div class="holding">
        Dividends Received: {{dividendsTotal.toFixed(2)}}
      </div>

      <h2> Tax Year {{fyText}} Summary: </h2>
      <div class="holding">
        Disposal Count: {{taxYearData.disposals}}
      </div>
      <div class="holding">
        Total Realised Profit: £{{taxYearData.realisedProfit.toFixed(2)}}
      </div>
      <div class="holding">
        Total Realised Loss: {{taxYearData.realisedLoss.toFixed(2)}}
      </div>
      <div class="holding">
        Combined: {{(taxYearData.realisedProfit - taxYearData.realisedLoss).toFixed(2)}}
      </div>
      <div class="holding">
        Dividends Received: {{taxYearData.dividends.toFixed(2)}}
      </div>


      <h2> Deposits </h2>
      <template v-for="dep in deposits">
        <div class="holding">
          {{dep.dateString}}: £{{dep.value}} U#{{dep.uid}}
        </div>
      </template>


      <h2> Withdrawals </h2>
      <template v-for="itm in withdrawals">
        <div class="holding">
          {{itm.dateString}}: £{{itm.value}}
        </div>
      </template>

      <h2> Dividends </h2>
      <template v-for="itm in dividends">
        <div class="holding">
          {{itm.dateString}}, {{itm.name}}({{itm.ticker}}) £{{itm.value}}
        </div>
      </template>


      <h2> Trades </h2>
      <template v-for="inst in holdings">
        <div class="holding">
          <div class="holding-title"><strong>{{inst.name}}({{inst.ticker}})</strong></div>
          <p>All Time - Holdings: {{inst.holdings.toFixed(2)}} Disposals:{{inst.disposalCount}}, P/L:
            £{{inst.realisedPl.toFixed(2)}}</p>
          <p>Tax Year - Disposals:{{inst.tyData.disposalCount}}, Gain:{{inst.tyData.realisedProfit.toFixed(2)}},
            Loss:{{inst.tyData.realisedLoss.toFixed(2)}} P/L:{{(inst.tyData.realisedProfit -
            inst.tyData.realisedLoss).toFixed(2)}}</p>
          <div class="disposal-container">
            <p>Trades:</p>
            <!-- Number of Trades: {{inst.trades.length}} -->
            <span class="ledger-entry c1">ID</span>
            <span class="ledger-entry c2">Date</span>
            <span class="ledger-entry c3">Type</span>
            <span class="ledger-entry c4"># Shares</span>
            <span class="ledger-entry c5">Price GBP</span>
            <span class="ledger-entry c6">Total GBP</span>
            <template v-for="t,key in inst.trades">
              <!-- {{JSON.stringify(t)}}€€ -->
              <div v-bind:class="getTradeClass(t.rawType)" class="trade-row">
                <span v-bind:class="getTradeClass(t.rawType)" class="ledger-entry c1">{{t.uid}}</span>
                <span v-bind:class="getTradeClass(t.rawType)" class="ledger-entry c2">{{getDmyString(t.timestamp)}}</span>
                <span v-bind:class="getTradeClass(t.rawType)" class="ledger-entry c3">{{t.rawType}}</span>
                <span v-bind:class="getTradeClass(t.rawType)" class="ledger-entry c4">{{t.number}}</span>
                <span v-bind:class="getTradeClass(t.rawType)" class="ledger-entry c5">{{t.priceGBP.toFixed(2)}}</span>
                <span v-bind:class="getTradeClass(t.rawType)" class="ledger-entry c6">{{t.total.toFixed(2)}}</span>
              </div>
            </template>
          </div>
          <p>Ledger:</p>
          <div class="disposal-container">
            <!-- Ledger Length: {{inst.ledger.length}} -->
            <!-- titles -->
            <!-- <div class="trade-row"> -->
            <span class="ledger-entry ledger-uid">ID</span>
            <span class="ledger-entry ledger-date">Date</span>
            <span class="ledger-entry ledger-change">Change</span>
            <span class="ledger-entry ledger-price">Price £</span>
            <span class="ledger-entry ledger-gain">Gain £</span>
            <span class="ledger-entry ledger-loss">Loss £</span>
            <span class="ledger-entry ledger-s104t">S104 Holdings</span>
            <span class="ledger-entry ledger-s104p">S104 Price</span>
            <span class="ledger-entry ledger-comment"></span>
            <!-- </div> -->
            <template v-for="d in inst.ledger">
              <!-- {{JSON.stringify(d)}} -->
              <!-- <div v-bind:class="getTradeClass(d.change)" class="trade-row"> -->
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-uid">{{d.uid}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-date">{{getDmyString(d.timestamp)}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-change">{{d.change.toFixed(2)}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-price">{{d.price.toFixed(2)}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-gain">{{d.gain.toFixed(2)}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-loss">{{d.loss.toFixed(2)}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-s104t">{{d.s104Total.toFixed(2)}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-s104p">{{d.s104Price.toFixed(2)}}</span>
              <span v-bind:class="getTradeClass(d.change)" class="ledger-entry ledger-comment">
                <template v-for="comm in d.comment">
                  <p>• {{comm}}</p>
                </template>
              </span>
              <!-- </div> -->
            </template>
          </div>
          <div class="position-status-container"></div>
        </div>
      </template>




    </div>
  </div>

  <p>This tool is a work in progress and the results are assumed to be inaccurate.</p>
  <p>DISCLAIMER: THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.</p>
</body>

</html>
<script type='text/javascript' src="Scripts/script.js"></script>